.registration {
    height: 100%;
    background: #F7F9FB;
    display: grid;
    grid-template-rows: 1fr 4fr 100px;
    gap:  2rem;  
    z-index: 1;
  }
  
.setup-profile {
    position: relative;
    background: #EBF0F0;
    height: 120px; 
    border-radius: 0 0 50% 50%;
    overflow: hidden;
    padding-top: 25px;
    z-index: 1;
 }
  
.h3-text{
    color: #687864;
}

.profile-image {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    margin: 0 auto;
    width: 100px;
    height: 100px; 
    border-radius: 40%;
    background: #687864;
}

.upload-icon{
    color: white;
    position: absolute;
    z-index: 20;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-upload{
    display: flex;
    justify-content: end;
}

.upload-text{
    font-size: 12px;
    position: absolute;
    z-index: 20;
    padding-top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.registration-form{
    padding: 25px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
}

.registration-form input{
    width: 100%;
    display: block;
    margin-top: 7px;

    height: 40px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    padding: 0px 10px;
    box-sizing: border-box;
}
/* .continue-button a{
    text-decoration: none;
    color: white
} */

.select-sex{
    display: block;
}

.select-sex select{
    border: 1px  solid #ccc;
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 7px;
    margin-bottom: 15px;
}